body {
  background: rgba(51, 102, 153, 0.2); }

.post-box {
  border: 1px solid #999999;
  color: #666666;
  background-color: #FFFFFF;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 5px 2px #ccc;
  -moz-box-shadow: 3px 3px 5px 2px #ccc;
  box-shadow: 3px 3px 5px 2px #ccc; }

.auth-image {
  width: 8%;
  padding: 20px 20px 0 20px; }

.post-image {
  width: 100%; }

a {
  text-decoration: none;
  color: #666666; }

a:hover {
  color: #336699; }

p, h2 {
  padding-left: 20px;
  padding-right: 20px; }

p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px; }

.site-name {
  display: inline;
  padding-bottom: 20px;
  margin: 0; }

h2 {
  font-family: Georgia, Times, 'Times New Roman', serif; }

h1 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #666666;
  text-align: center;
  margin: 25px; }
